<link rel="stylesheet" href="/assets/css/cards.css" />

<div class="row">
  {% for post in include.references %}
  <div class="col-md-4 my-1">
    <div class="card h-100 bg-transparent">
      {% assign src = post.media_subpath | append: '/' | append:
      post.images[0].src %}
      <a href="{{ post.url }}" class="stretched-link"></a>
      <img
        class="card-img-top"
        src="{{ src }}"
        alt="{{ post.title }}"
        loading="lazy"
      />
      <div class="card-body">
        <h4 class="mt-0">{{ post.title }}</h4>
      </div>
      <div class="card-footer">
        <small class="text-muted"
          >Készült: {{ post.date | date: '%Y.%m.%d' }}</small
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
