<link rel="stylesheet" href="/assets/css/referencia.css" />

<div id="carouselExampleIndicators" class="carousel slide mb-3 mb-md-3" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for img in page.images %}
    <li data-target="#carouselExampleIndicators" data-slide-to="{{ img.id }}" class="{% if img.id == 0 %}{{ "active" }}{% endif %}"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for img in page.images %}
    <div class="carousel-item {% if img.id == 0 %}{{ "active" }}{% endif %}">
      {% assign link = page.img_path | append:'/' | append: img.src %}
      <a href="{{ link }}" target="_blank">
        <img src="{{ img.src }}" class="d-block w-100" alt="{{ img.alt }}">
      </a>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" title="Vissza" data-target="#carouselExampleIndicators" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" type="button" title="Előre" data-target="#carouselExampleIndicators" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>