.me-3 {
  margin-right: 1rem !important;
}

.me-xl-3 {
  margin-right: 1rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
