---
title: Referenciák
icon: fas fa-link
order: 2
show: true
---

<h2>Honlapok</h2>

<div class="row">
  {% assign sites = site.categories['Honlap'] | sort: 'date' | reverse %}
  {% for site in sites %}
  <div class="col-md-4 my-1">
    <div class="card h-100 bg-transparent">
      {% assign src = site.img_path | append:'/' | append: site.images[0].src %}
      <a href="{{ site.url }}"><img class="card-img-top" src="{{ src }}" alt="{{ site.title }}"></a>
      <div class="card-body">
        <h5 class="card-title mt-0">{{ site.title }}</h5>
        <a href="{{ site.url }}" class="card-text">Részletek</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Készült: {{ site.date | date: "%Y.%m.%d" }}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<h2>Kiadványok</h2>

<div class="row">
  {% assign publications = site.categories['Kiadvány'] | sort: "date" | reverse %}
  {% for pub in publications %}
  <div class="col-md-4 my-1">
    <div class="card h-100 bg-transparent">
      {% assign src = pub.img_path | append:'/' | append: pub.images[0].src %}
      <a href="{{ site.url }}"><img class="card-img-top" src="{{ src }}" alt="{{ pub.title }}"></a>
      <div class="card-body">
        <h5 class="card-title mt-0">{{ pub.title }}</h5>
        <a href="{{ pub.url }}" class="card-text">Részletek</a>
      </div>
      <div class="card-footer">
        <small class="text-muted">Készült: {{ pub.date | date: "%Y.%m.%d" }}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>